<br>
<button type="button" class="btn btn-primary">
  <a class="nav-link" (click)="onOpenModal(null, 'add')">Ajouter Revue <span class="sr-only"></span></a></button>
<br><br>
<form class="form-inline ">
  <input style="width: 20%;" type="search" (ngModelChange)="searchRevue(key.value)" #key="ngModel" ngModel name="key"
         id="searchName" class="form-control " placeholder="Search Revue.." required>
</form>
<hr>
<div class="container bootstrap snippets bootdey">

  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
              <tr>
                <th><span>Titre</span></th>
                <th><span>Mois</span></th>
                <th><span>Année</span></th>
                <th><span>Référence</span></th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody id="main-container">
              <tr *ngFor="let revue of revues">
                <td>
                  {{revue.titre}}
                </td>
                <td>
                  {{revue.mois}}
                </td>
                <td>
                  {{revue.annee}}
                </td>
                <td>
                  {{revue.numEnreg}}
                </td>
                <td style="width: 20%;">

                  <a (click)="onOpenModal(revue, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit" class="table-link text-info">

                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                  </a>
                  <a (click)="onOpenModal(revue, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                  </a>
                </td>
              </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addRevueModal" tabindex="-1" role="dialog" aria-labelledby="addRevueModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRevueModalLabel">Ajout Revue</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddRevue(addForm)">
          <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" ngModel name="titre" class="form-control" id="titre" placeholder="Titre" required>
          </div>
          <div class="form-group">
            <label for="mois">Mois</label>
            <input type="number" ngModel name="mois" class="form-control" id="mois" placeholder="Mois" required>
          </div>
          <div class="form-group">
            <label for="annee">Annee</label>
            <input type="number" ngModel name="annee" class="form-control" id="annee" placeholder="Annee" required>
          </div>

          <div class="modal-footer">
            <button type="button" id="add-revue-form" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="updateDictionnaireModal" tabindex="-1" role="dialog" aria-labelledby="updateDictionnaireModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateDictionnaireModalLabel">Edit Dictionnaire {{editRevue?.titre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" ngModel="{{editRevue?.titre}}" name="titre" class="form-control" id="titre" aria-describedby="emailHelp" placeholder="Titre">
          </div>
          <input type="hidden" ngModel="{{editRevue?.id}}" name="id" class="form-control" id="id">
          <div class="form-group">
            <label for="mois">Mois</label>
            <input type="number" ngModel="{{editRevue?.mois}}" name="mois" class="form-control" id="mois" placeholder="Mois">
          </div>
          <div class="form-group">
            <label for="annee">Annee</label>
            <input type="number" ngModel="{{editRevue?.annee}}" name="annee" class="form-control" id="annee" placeholder="Annee">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateRevue(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous supprimer la revue {{deleteRevue?.titre}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteRevue(deleteRevue?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>



















<!-- <div class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Pas de Dictionnaire Disponible!</h4>
        <p>Pas de Dictionnaire trouvé.</p>
    </div>
</div> -->
