<router-outlet>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color:white;">Bibliotheque Universitaire</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active ">
                    <a class="nav-link" href="/livre" style="font-weight: bold">Livre<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link" href="/revue" style="font-weight: bold">Revue</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="/dictionnaire" style="font-weight: bold">Dictionnaire</a>
                </li>
            </ul>

        </div>
    </nav>
</router-outlet>