<br>
<button type="button" class="btn btn-primary">
  <a class="nav-link" (click)="onOpenModal(null, 'add')">Ajouter Livre <span class="sr-only"></span></a></button>
<br><br>
<form class="form-inline ">
  <input style="width: 20%;" type="search" (ngModelChange)="searchLivre(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control " placeholder="Search Livre.." required>
</form>
<hr>
<div class="container bootstrap snippets bootdey">

  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
              <tr>
                <th><span>Titre</span></th>
                <th><span>Auteur</span></th>
                <th><span>Référence</span></th>
                <th><span>Nombre Page</span></th>
                <th><span>Type Livre</span></th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody id="main-container">
              <tr *ngFor="let livre of livres">
                <td>
                  {{livre.titre}}
                </td>
                <td>
                  {{livre.auteur}}
                </td>
                <td>
                  {{livre.numEnreg}}
                </td>
                <td>
                  {{livre.nbrPages}}
                </td>
                <td>
                  {{livre.typeLivre}}
                </td>

                <td style="width: 20%;">

                  <a (click)="onOpenModal(livre, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit" class="table-link text-info">

                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                  </a>
                  <a (click)="onOpenModal(livre, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                  </a>
                </td>
              </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addLivreModal" tabindex="-1" role="dialog" aria-labelledby="addLivreModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLivreModalLabel">Ajout Livre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddLivre(addForm)">
          <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" ngModel name="titre" class="form-control" id="titre" placeholder="Titre" required>
          </div>
          <div class="form-group">
            <label for="auteur">Auteur</label>
            <input type="text" ngModel name="auteur" class="form-control" id="auteur" placeholder="Auteur" required>
          </div>
          <div class="form-group">
            <label>Type Livre</label>
           <select ngModel  name="typeLivre" class="form-select" aria-label="Default select example">
              <option selected>Selectionner Type</option>
              <option value="ROMAN">ROMAN</option>
              <option value="ROMAN">MANUEL</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nbrPages">Nombre Page</label>
            <input type="number" ngModel name="nbrPages" class="form-control" id="nbrPages" placeholder="Nombre Page" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-livre-form" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="updateLivreModal" tabindex="-1" role="dialog" aria-labelledby="updateLivreModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateLivreModalLabel">Edit Dictionnaire {{editLivre?.titre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" ngModel="{{editLivre?.titre}}" name="titre" class="form-control" id="titre" aria-describedby="emailHelp" placeholder="Titre">
          </div>
          <input type="hidden" ngModel="{{editLivre?.id}}" name="id" class="form-control" id="id">
          <div class="form-group">
            <label for="email">Auteur</label>
            <input type="text" ngModel="{{editLivre?.auteur}}" name="auteur" class="form-control" id="auteur" placeholder="Auteur">
          </div>
          <div class="form-group">
            <label for="email">Nombre Page</label>
            <input type="number" ngModel="{{editLivre?.nbrPages}}" name="nbrPages" class="form-control" id="nbrPages" placeholder="Nombre Page">
          </div>
          <div class="form-group">
            <label for="email">Type Livre</label>
            <select ngModel="{{editLivre?.auteur}}" name="typeLivre" class="form-select" aria-label="Default select example">
              <option selected>Selectionner Type</option>
              <option value="ROMAN">ROMAN</option>
              <option value="ROMAN">MANUEL</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateLivre(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteLivreModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous supprimer le livre {{deleteLivre?.titre}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteLivre(deleteLivre?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>



















<!-- <div class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Pas de Dictionnaire Disponible!</h4>
        <p>Pas de Dictionnaire trouvé.</p>
    </div>
</div> -->
