<div class="container bootstrap snippets bootdey">

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Titre</span></th>
                                    <th><span>Langue</span></th>
                                    <th><span>Référence</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="main-container">
<!--                                <tr *ngFor="let document of documents">-->
<!--                                    <td>-->
<!--                                        {{document.titre}}-->
<!--                                    </td>-->
<!--                                    <td>-->
<!--                                        {{document.langue}}-->
<!--                                    </td>-->
<!--                                    <td>-->
<!--                                        {{document.numEnreg}}-->
<!--                                    </td>-->

<!--                                </tr>-->


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
